/* centralizar */

h1, h2{
    text-align: center;
    list-style-type: none; /* tira as bolinha das listas */
}

nav {
    background-color: #257dc6ef /* cor quadrado menu*/
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    position: relative;
    text-align: center;
}

.menu a {
    display: block;
    padding: 14px 20px;
    color: #f0f0f0; /* cor letra do menu */
    text-decoration: none;
}

.menu a:hover {
    background-color: #66666697; /* cor menu quando passa o mouse */
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#257dc6fc; /*cor submenu*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
    width: 100%;
}

.submenu li a {
    padding: 10px;
    white-space: ;
}

.menu li:hover .submenu {
    display: block;
}


/* cor em toda pagina*/

body {
    background-color: rgb(173, 216, 230); /* cor da pagina */
}

/* cor cabeçalho*/

#cabeca {
    width: 100%;
    margin: auto; /* tamanho da margem */
    font-size: 12px;
    text-align: center;
    background-color: rgb(173, 216, 230)
}

#subtitulo{
    text-align: justify;
    font-size: 15px;
    margin: 0px 120px;
}

#conteudo{
    width: 800px; /* tamanho da caixa no meio da pagina */
    margin: 0 auto; /* tamanho da margem */
    background-color: aliceblue;  /* cor da caixa*/
    text-align: center; /* alinha no meio */
}

/* Definir a animação de piscar */

@keyframes piscar { 
    0% { opacity: 1; } 
    50% { opacity: 0; } 
    100% { opacity: 1;}
}

#lembrete{
    margin: 0 auto; /* tamanho da margem */
    text-align: center; /* alinha no meio */
    width: 600px; /* tamanho da caixa no meio da pagina */
    background-color: rgb(255, 255, 0); /* cor da caixa*/
    animation: piscar 1.5s infinite; /* Duração de 1.5 segundos para um piscar mais rápido */
}

#corpo{
    text-align: justify; /* alinha no meio */
    width: 600px; /* tamanho da caixa no meio da pagina */
    margin: 0 auto; /* tamanho da margem */
}

/* Rodapé */

footer{
    text-align: center; /* alinha no meio */
    width: 800px; /* tamanho da caixa no meio da pagina */
    background-color: white;
    margin: 0 auto; /* tamanho da margem */
}